@mixin size($w, $h){
  width: $w;
  height: $h;
}
$font-size: 10px;
@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Noto+Sans+TC&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    @include size (100%, 100vh);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-family: 'Amiri', serif;
    font-family: 'Noto Sans TC', sans-serif;
  }

  html {
    background-color: rgb(254, 254, 202);
  }

  i{
    pointer-events: none;
  }

  .outline{
    min-width: 300px;
    max-width: 320px;
  }
  
  .panel{
    @include size (auto, auto);
    display: flex;
    flex-direction: column;
    min-height: 130px;
    background-color:rgb(35, 35, 35);
    color: azure;
    justify-content:space-around;
    padding: 1rem;
    border-radius: 8px 8px 0 0 ;
    color: whitesmoke;

    .pre {
      text-align: right;
      width: 100%;
      font-size: 2rem;
    }
    
    .cur{
      text-align: right;
      width: 100%;
      font-size: 4rem;
    }
  }

  .row{
    height: 7.5vh;
    display: flex;
  }

  button{
    font-size: 2.2rem;
    min-width: 80px;
    padding: 3px;
    border: 1px solid #CCC;
}

button[data-clear]:hover, button[data-delete]:hover, button[data-toggle]:hover{
  background-color:rgb(178, 177, 177);
  color: rgb(40, 40, 40);
  text-decoration: none;
  transition: 1s;
}

 button[aria-pressed="true"] {
  background-color:#ffc677;
  color: rgb(40, 40, 40);
}

button[data-num][aria-pressed="true"] {
  background-color:rgb(178, 177, 177);
  color: rgb(40, 40, 40);
}
  
  .normal{
    flex: 1 1 20%;
    padding: 1rem;
  }

  .wide{
    flex: 2 2 40%;
    padding: 1rem;
  }

    
  .bottom-left{
    border-radius: 0 0 0 8px;
  }

  .bottom-right{
    border-radius: 0 0 8px 0;
  }
  
  .last{
    background-color: #FF9500;
    color: whitesmoke;
  }
  
  p{
    font-size: 1rem;
    position: absolute;
    left: auto;
    right: auto;
    bottom: 1%;
  }